{include file="public/header"/}
<form class="layui-form" name="form1" method="post">
	<div class="layui-form-item">
		<div class="layui-input-block">
			<select name="category1">
			{volist name="data" id="d"}
				{eq name="d.category2_id" value="0"}
				<option>{$d.category2_name}</option>
				{/eq}
			{/volist}
			</select>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="category2_name"/>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button type="submit" class="layui-btn">提交</button>
		</div>
	</div>
</form>